

<div class="border">
	<p><strong><%= todo.title %></strong></p>
	<p><%= todo.item %></p>
  	<%= link_to "Show Page", todo if action_name == "index" %> |
  	<%= link_to "Edit Page", edit_todo_path(todo) %>
</div>

<br>